@font-face {
    font-family: 'PSL-Kittithada';
    src: url('../fonts/PSL-Kittithada.eot?#iefix') format('embedded-opentype'),  url('../fonts/PSL-Kittithada.woff') format('woff'), url('../fonts/PSL-Kittithada.ttf')  format('truetype'), url('../fonts/PSL-Kittithada.svg#PSLKittithada') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PSL-Kittithada';
    src: url('../fonts/PSL-KittithadaItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/PSL-KittithadaItalic.woff') format('woff'), url('../fonts/PSL-KittithadaItalic.ttf')  format('truetype'), url('../fonts/PSL-KittithadaItalic.svg#PSLKittithada') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PSL-Kittithada';
    src: url('../fonts/PSL-KittithadaBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/PSL-KittithadaBold.woff') format('woff'), url('../fonts/PSL-KittithadaBold.ttf')  format('truetype'), url('../fonts/PSL-KittithadaBold.svg#PSLKittithada') format('svg');
    font-weight: bold;;
    font-style: normal;
}
@font-face {
    font-family: 'PSL-Kittithada';
    src: url('../fonts/PSL-KittithadaBoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/PSL-KittithadaBoldItalic.woff') format('woff'), url('../fonts/PSL-KittithadaBoldItalic.ttf')  format('truetype'), url('../fonts/PSL-KittithadaBoldItalic.svg#PSLKittithada') format('svg');
    font-weight: bold;
    font-style: italic;
}