#sceneDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 444px;
    min-height: 100%;
    background-color: white;
    position: absolute;
    overflow: hidden;
}

.panel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.panel-side {
    padding: 2px;
    box-sizing: border-box;
    width: 240px;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 60;
    margin-top: 65px;
    margin-right: 15px;
}

.panel-side h4 {
    padding: 0px 20px 0px 20px;
    /*margin: 20px 0;*/
}

.panel-side h3 {
    padding: 0 20px;
    margin: 20px 0;
}

.panel-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel-side li {
    list-style: none;
    padding: 10px 20px;
}

.panel-result {
    cursor: pointer;
    margin: 2px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.device_result{
    cursor: pointer;
    margin: 2px 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.panel-result:hover,
.panel-result:focus {
    background-color: rgba(0, 0, 0, 0.75);
}

#infoDiv {
    position: absolute;
    top: 65px;
    left: 60px;
}

#infoDiv input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

#viewDateDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#timeSlider {
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 20px;
}

#timeline {
    position: absolute;
    padding: 5px;
    right: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#timeline div{
    padding: 5px;
}

#trackwidget {
    position: absolute;
    padding: 5px;
    right: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#trackwidget div{
    padding: 5px;
}

.dropbtn {
    color: #323232;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 190px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.checkbox input :checked{
    background-color: #2196F3;
}

.list-track-dropdown{
    padding: 2px;
    box-sizing: border-box;
    width: 240px;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 60;
    margin-top: 185px;
    margin-right: 320px;
}

.list-timeline-dropdown{
    padding: 2px;
    box-sizing: border-box;
    width: 240px;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 60;
    margin-top: 140px;
    margin-right: 320px;
}